body{
    background-image:url(./Tranquil.jpg) ;
}

.navbar-nav{
    background-color: blue;
    width:98vw;
    height:70px;
    font-size: 40px;
    font-weight: bold;
    display: inline-flex;
    justify-content:space-around;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
h1{
    position: relative;
    right:600px;
}
.nav-link{
    color: white;
}
table,tr,th,td{
    width:80vw;
    height:3rem;
    border:1px solid black;
    background-color: white;
}
table{
    position: relative;
    left:130px;
    top:50px;
}
.add{
    width:10vw;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;
    position: relative;
    left:400px;
    background-color: aqua;
}
.h{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    top:60px;
}
.addh1{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}